
@{
    ViewBag.Title = "Category";
    Layout = "~/Areas/Admin/Views/Shared/AdminPage.cshtml";
    var row = 0;

}

<style type="text/css">
    .Name {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 20px;
        outline: none;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    form {
        background: none;
        padding: 0;
    }

    h4 {
        font-family: 'Source Sans Pro', sans-serif;
        background: none;
        color: #2C2A2A;
    }

    h4::after {
        content: '';
        bottom: 0;
        width: 60px;
        height: 2px;
        background: #2C2A2A;
        display: block;
    }


    .btn-add {
        width: 190px;
        height: 50px;
        border: none;
        border-radius: 25px;
        background: #373434;
        margin-top: 20px;
        color: white;
        cursor: pointer;
        padding: 0;
        margin-right: 232px;
    }

    option {
        font-family: 'Source Sans Pro', sans-serif;
    }

    .righside {
        width: 822px;
        height: 573px;
        background: white;
        border-radius: 21px;
        position: absolute;
        top: 63px;
        right: 12px;
    }

    .headtable {
        padding: 0px;
        width: 797px;
        border-radius: 8px;
        padding: 0;
        background: #EBABAB;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        color: #767575;
    }

    .headtable2 {
        padding: 0px;
    }


    .bodytable {
        width: 797px;
        height: 490px;
        background: white;
        margin-top: 4px;
        border-radius: 8px;
        padding: 0;
        overflow: scroll;
        overflow-x: hidden;
    }



    .btn-Del {
        background: #EBABAB;
        border-radius: 5px;
        padding: 0px;
        color: black;
        cursor: pointer;
        height: 38px;
        width: 38px;
        border: none;
        transition: 0.5s;
        margin-right: 10px;
    }

        .btn-Del:hover {
            background: #f17777;
        }

    img {
        padding: 0px;
    }

    .btn-Edit {
        background: #EBABAB;
        border-radius: 5px;
        padding: 0px;
        color: black;
        cursor: pointer;
        height: 38px;
        width: 38px;
        border: none;
        transition: 0.5s;
    }

        .btn-Edit:hover {
            background: #f17777;
        }

    .tablerow {
        background: white;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        border-radius: 8px;
        transition: 0.5s;
        padding: 0px;
        left: 0px;
        text-align: left;
    }

        .tablerow:hover {
            background: #FFDFDF;
            cursor: pointer;
        }

    .tablerow {
        margin-top: 10px;
        text-align: left;
    }

        .tablerow tr td {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 13px;
        }

    ::-webkit-scrollbar {
        width: 2px;
    }

    ::-webkit-scrollbar-track {
        background: lightblue;
    }

    ::-webkit-scrollbar-thumb {
        background: #EBABAB;
        border-radius: 20px;
        height: 100px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(to right, #1093ff, #83d1e9);
        }



    option {
        background: pink;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
    }

    .status {
        margin-bottom: 20px;
        margin-top: 20px;
        width: 20px;
        height: 20px;
    }

    .status, .status-text {
        display: inline-block;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .category-edit-form {
        width: 300px;
        height: 400px;
        position: absolute;
        background: WHITE;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
        left:500px;
        top:100px;
        z-index:10;
        padding:30px 30px 30px 30px;
        display:none;
    }
        .category-edit-form .Name {
            width: 90%;
            border-bottom: 1px solid #2C2A2A;
            border-top: none;
            border-right: none;
            border-left: none;
            background: none;
            font-family: 'Source Sans Pro', sans-serif;
            margin-top: 20px;
            outline: none;
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    .btn-area {
    }
    .btn-edit {
        display: inline-flex;
        width: 100px;
        height: 50px;
        border: none;
        border-radius: 25px;
        background: #373434;
        margin-top: 20px;
        color: white;
        cursor: pointer;
        padding: 0 30px 0 30px;
        margin-right:10px;
    }
    .btn-cancel {
        display: inline-flex;
        width: 100px;
        height: 50px;
        border: none;
        border-radius: 25px;
        background: #373434;
        margin-top: 20px;
        color: white;
        cursor: pointer;
        padding:0 30px 0 30px;
        
    }
    .srcbar-cv {
        height: 45px;
        padding: 0;
        width: 300px;
        background: white;
        position: absolute;
        top: 10px;
        border-radius: 10px;
        left: 950px;
        margin: 0;
    }

    .srcbar {
        width: 95%;
        height: 45px;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 10px;
        outline: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        font-weight: 600;
        color: #707070;
        margin-left: 20px;
    }

    .btn-src {
        height: 45px;
        width: 45px;
        position: absolute;
        top: 0;
        padding: 6px;
        right: 0;
    }

    .btn-src img {
        cursor: pointer;
    }
</style>
<h4>Category</h4>
<div class="srcbar-cv">
    <input id="textSearch" class="srcbar" type="text" name="name" value=""  placeholder="Name"/><div class="btn-src" id="Search"><img src="~/Upload/Icon/iconfinder_icon.png" /></div>
</div>
<form method="post">
    <input type="text" class="Name" id="Name" name="Name" placeholder="Name" />
    <br />
    <div class="status">
        <input type="checkbox" id="Statuss" name="name" />
    </div>
    <div class="status-text">
        <p>Active</p>
    </div>
    <br />
    <input class="btn-add" id="create" type="submit" value="Add Product" />
</form>
@*edit*@
<form action="" method="post" class="category-edit-form" id="editform">
    <input type="text" class="Name" id="Name_Edit" name="Name" placeholder="Name" />
    <br />
    <div class="status">
        <input type="checkbox" id="Status_Edit" name="name" />
    </div>
    <input type="hidden" class="idcate" id="idcate" name="idcate"/>
    <div class="status-text">
        <p>Active</p>
    </div>
    <div class="btn-area">
        <input class="btn-edit" id="update" style="font-size: 12px;" value="Update" /><input class="btn-cancel" style="font-size: 12px;" id="cancel" value="Cancel" />
    </div>

</form>

<div class="righside">
    <div class="headtable">
        <table class="headtable2" style="width:100%">
            <tr>
                <td style="max-width:55px;" >Name</td>
                <td style="max-width:51px;">Status</td>
                <td style="max-width:60px;">Action</td>
            </tr>
        </table>
    </div>
    <div class="bodytable">
        @if (Session["listCate"] != null)
        {
            var listCate = (List<ChocoGear.Models.ModelView.CategoryView>)Session["listCate"];
            foreach (var item in listCate)
            {
                <table class="tablerow" id="Row_@row" style="width:100%">
                    <tr>
                        <td style="max-width:40px;" class="HeadName">@item.name_category</td>
                        
                            @if (item.status == true)
                            {
                    <td style="max-width:40px;" class="HeadCheckbok">Available</td>
                        }
                        else
                        {
                    <td style="max-width:40px;" class="HeadCheckbok">Unavailable</td>
                        }
                        <td style="max-width:40px;"><button type="button" class="btn-Del" data-row="@row" onclick="deleteCate(this)" data-namecategory="@item.name_category" data-idcategory="@item.id"><img width="20" src="~/Areas/Admin/Upload/Icon/icondelete.ico" alt="Alternate Text" /></button><button class="btn-Edit" data-idcategory="@item.id" onclick="Edit(this);"><img width="20" src="~/Areas/Admin/Upload/Icon/iconedit.ico" alt="Alternate Text" /></button></td>
                    </tr>
                </table>
                row++;
            }
        }
    </div>
</div>
@section script_admin{
    <script>
    $('#create').click(function () {
        var Name = $('#Name').val();
        if (Name != "") {
            var Status = $('#Statuss').prop('checked');
            $.ajax({
                method: "post",
                url: "@Url.Action("CreateCategory")",
                data: { Name: Name, Status: Status }
            }).done(function (data) {

            });
        } else {
            alert("Please enter information of category !!");
        }

    })
        var nameBeforeEdit = "";
        function Edit(obj) {
            var a = $(obj).parents("tr").find(".HeadName").text();
            nameBeforeEdit = a;
            var b = $(obj).parents("tr").find(".HeadCheckbok").text();
            var idcate = $(obj).attr('data-idcategory');

            $('#Name_Edit').val(a);
            if (b == "Available") {
                $('#Status_Edit').prop('checked', true);
            }
            $('#idcate').val(idcate);
            var showEdit = document.getElementById("editform");
            showEdit.style.display = 'block';
        }

        $('#update').click(function () {
            var name = $('#Name_Edit').val();
            var status = $('#Status_Edit').prop('checked');
            var id = $('#idcate').val();
            $.ajax({
                method: "post",
                url: "@Url.Action("UpdateCategory")",
                data: { id: id, name: name, status: status }
            }).done(function (data) {
                alert(data);
                $('#bodytable').load();
            });
        })
        $('#cancel').click(function () {
            var showEdit = document.getElementById("editform");
            showEdit.style.display = 'none';
        })

        function deleteCate(obj) {
            var id = $(obj).attr('data-idcategory');
            var name = $(obj).attr('data-namecategory');
            var row = $(obj).attr('data-row');
            if (confirm("Are you sure you want to delete this category?")) {
                $.ajax({
                method: "post",
                url: "@Url.Action("DeleteCate")",
                data: { id: id }
                }).done(function (data) {
                    $('#Row_' + row).remove();
            });
            }
            else {
                return false;
            }


        }
        $('#Search').click(function () {
            var name = $('#textSearch').val();
            $('.bodytable table').each(function (result) {
                var id = $(this).find('td:nth-child(1)').text();
                if (id.indexOf(name) !== 0 && id.toLowerCase().indexOf(name.toLowerCase()) < 0) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            })
        })

        $('#textSearch').keyup(function (event) {
            var name = $('#textSearch').val();
            if (name == "") {
                $('.bodytable table').each(function (result) {
                    $(this).show();
                })
            }
        })
    </script>
}


