
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Areas/Admin/Views/Shared/AdminPageEmpty.cshtml";

}
<style>
    body {
        background: #EBABAB;
    }

    .container-EditProduct {
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 500px;
        height: 720px;
        margin-top: 50px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
        border-radius: 10px;
        background: white;
    }

    .formedit {
        box-sizing: border-box;
        float: left;
        height: 100%;
        width: 100%;
        padding: 10px;
    }

        .formedit input {
            margin-left: 55px;
            margin-top: 22px;
        }

        .formedit select {
            margin-left: 55px;
            margin-top: 22px;
        }

        .formedit textarea {
            margin-left: 55px;
            margin-top: 22px;
        }

        .formedit h4 {
            margin-top: 17px;
            margin-left: 55px;
            font-family: 'Source Sans Pro', sans-serif;
        }

    .picturebox {
        position: absolute;
        height: 40px;
        padding: 0px;
        width: 50px;
        border: 1px solid #2C2A2A;
        display: inline-block;
        top: 372px;
    }

    .formedit h4::after {
        content: '';
        bottom: 0;
        width: 115px;
        height: 2px;
        background: #2C2A2A;
        display: block;
    }


    .btn-update {
        width: 180px;
        height: 50px;
        border: none;
        border-radius: 25px;
        background: #373434;
        margin-top: 0px;
        color: white;
        cursor: pointer;
        padding: 0;
        margin-right: 178px;
    }

    .checkboxP {
        height: 20px;
        width: 20px;
    }

    .Name {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 0px;
        outline: none;
        font-size: 15px;
        font-weight: 600;
    }

    .Category {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        outline: none;
        font-size: 15px;
        font-weight: 600;
        color: #707070;
    }

    .Price {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        outline: none;
        font-size: 15px;
        font-weight: 600;
    }

    .Img {
        width: 336px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        outline: none;
        font-size: 15px;
        font-weight: 600;
        color: #707070;
    }

    .Description {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        height: 239px;
        border-radius: 13px;
        background: none;
        margin-top: 10px;
        font-family: 'Source Sans Pro', sans-serif;
        outline: none;
        font-size: 15px;
        font-weight: 600;
    }

    .Brand {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        outline: none;
        font-size: 15px;
        font-weight: 600;
        color: #707070;
    }

    .Discount {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        outline: none;
        font-size: 15px;
        font-weight: 600;
    }

    .Status {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        outline: none;
        font-size: 15px;
        font-weight: 600;
        color: #707070;
    }
</style>
<div class="container-EditProduct">
    <div class="formedit">
        @if (Session["inforProduct"] != null)
        {
            var product = (ChocoGear.Models.ModelView.ProductView)Session["inforProduct"];
            var listCate = (List<ChocoGear.Models.ModelView.CategoryView>)Session["listCate"];
            var listBrand = (List<ChocoGear.Models.ModelView.Brand>)Session["listBrand"];
            <form action="/" method="post">
                <h4>Update Product</h4>
                <input id="name" type="text" class="Name" name="Name" placeholder="Name" value="@product.name_product" />
                <br />
                <select class="Category" name="Category" id="Category">

                    <option selected value="@product.id_category">@product.name_category</option>

                    @foreach (var item in listCate)
                    {
                        <option value="@item.id">@item.name_category</option>
                    }
                </select>
                <select class="Status" name="Status" id="Status">
                    @if (product.status == true)
                    {
                        <option value="" selected>Available</option>
                        <option value="">Unavailable</option>
                    }
                    else
                    {
                        <option value="">Available</option>
                        <option value="" selected>Unavailable</option>
                    }

                </select>
                <input type="hidden" id="Category_id" name="Category_id" value="/" />
                <br />
                <select class="Brand" name="Brand" id="Brand">
                    <option selected value="@product.id_brand">@product.name_brand</option>

                    @foreach (var item in listBrand)
                    {
                        <option value="@item.id">@item.name</option>
                    }

                </select>
                <br />
                <input class="Price" id="Price" type="text" name="Price" value="@product.price" placeholder="Price" />

                <br />
                <input class="Discount" id="Discount" value="@product.discount" type="text" name="Discount" placeholder="Discount" />
                <br />
                <input id="img" class="Img" type="file" onchange="chooseFile(this)" name="Img" /><div class="picturebox"><img id="imagechoose" width="50" src="@Url.Content("~/Areas/Admin/Upload/")@product.name_image" /></div>
                <br />
                <textarea id="Desciption" class="Description" name="Decription" placeholder="Description">@product.description</textarea>
                <br />
                <input class="btn-update" id="Create" type="submit" value="Update" />
            </form>
        }
    </div>
</div>

