
@{
    ViewBag.Title = "Product";
    Layout = "~/Areas/Admin/Views/Shared/AdminPage.cshtml";
    var listCate = (List<ChocoGear.Models.ModelView.CategoryView>)Session["listCate"];
    var listBrand = (List<ChocoGear.Models.ModelView.Brand>)Session["listBrand"];
    var listProduct = (List<ChocoGear.Models.ModelView.ProductView>)Session["listProduct"];
    var q = (ChocoGear.Models.ModelView.ProductView)Session["EditProduct"];
}
<style>
    .Name {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 0px;
        outline: none;
        font-size: 15px;
        font-weight: 600;
    }

    .Category {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        outline: none;
        font-size: 15px;
        font-weight: 600;
        color: #707070;
    }

    .Price {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        outline: none;
        font-size: 15px;
        font-weight: 600;
    }

    .Img {
        width: 336px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        outline: none;
        font-size: 15px;
        font-weight: 600;
        color: #707070;
    }

    .Description {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        height: 200px;
        border-radius: 13px;
        background: none;
        margin-top: 10px;
        font-family: 'Source Sans Pro', sans-serif;
        outline: none;
        font-size: 15px;
        font-weight: 600;
    }

    .Brand {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        outline: none;
        font-size: 15px;
        font-weight: 600;
        color: #707070;
    }

    .Discount {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        outline: none;
        font-size: 15px;
        font-weight: 600;
    }

    form {
        background: none;
        padding: 0;
    }

    h4 {
        font-family: 'Source Sans Pro', sans-serif;
        background: none;
        color: #2C2A2A;
    }

        h4::after {
            content: '';
            bottom: 0;
            width: 60px;
            height: 2px;
            background: #2C2A2A;
            display: block;
        }


    .btn-add {
        width: 140px;
        height: 30px;
        border: none;
        border-radius: 22px;
        background: #373434;
        margin-top: 0px;
        color: white;
        cursor: pointer;
        padding: 0;
        margin-right: 232px;
    }

    option {
        font-family: 'Source Sans Pro', sans-serif;
    }

    .righside {
        width: 822px;
        height: 623px;
        background: white;
        border-radius: 21px;
        position: absolute;
        top: 11px;
        right: 12px;
    }

    .headtable {
        padding: 0px;
        width: 797px;
        border-radius: 8px;
        padding: 0;
        background: #EBABAB;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        color: #767575;
    }

    .headtable2 {
        padding: 0px;
    }


    .bodytable {
        width: 797px;
        height: 540px;
        background: white;
        margin-top: 4px;
        border-radius: 8px;
        padding: 0;
        overflow: scroll;
        overflow-x: hidden;
    }



    .btn-Del {
        background: #EBABAB;
        border-radius: 5px;
        padding: 0px;
        color: black;
        cursor: pointer;
        height: 38px;
        width: 38px;
        border: none;
        transition: 0.5s;
        margin-right: 10px;
    }

        .btn-Del:hover {
            background: #f17777;
        }

    img {
        padding: 0px;
    }

    .btn-Edit {
        background: #EBABAB;
        border-radius: 5px;
        padding: 0px;
        color: black;
        cursor: pointer;
        height: 38px;
        width: 38px;
        border: none;
        transition: 0.5s;
    }

        .btn-Edit:hover {
            background: #f17777;
        }

    .tablerow {
        background: white;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        border-radius: 8px;
        transition: 0.5s;
        padding: 0px;
        left: 0px;
        text-align: left;
    }

        .tablerow:hover {
            background: #FFDFDF;
            cursor: pointer;
        }

    .tablerow {
        margin-top: 10px;
        text-align: left;
    }

        .tablerow tr td {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 13px;
        }

    ::-webkit-scrollbar {
        width: 2px;
    }

    ::-webkit-scrollbar-track {
        background: lightblue;
    }

    ::-webkit-scrollbar-thumb {
        background: #EBABAB;
        border-radius: 20px;
        height: 100px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(to right, #1093ff, #83d1e9);
        }

    .formedit {
        position: absolute;
        height: 645px;
        width: 500px;
        background: white;
        border-radius: 21px;
        display: block;
        top: 0px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
        z-index: 99;
        left: 320px;
        display: none;
    }

        .formedit input {
            margin-left: 55px;
        }

        .formedit select {
            margin-left: 55px;
        }

        .formedit textarea {
            margin-left: 55px;
        }

        .formedit h4 {
            margin-top: 17px;
            margin-left: 55px;
            font-family: 'Source Sans Pro', sans-serif;
        }

    .picturebox {
        position: absolute;
        height: 40px;
        padding: 0px;
        width: 50px;
        border: 1px solid #2C2A2A;
        display: inline-block;
        top: 350px;
    }

    .formedit h4::after {
        content: '';
        bottom: 0;
        width: 35px;
        height: 3px;
        background: #2C2A2A;
        display: block;
    }

    .btn-x {
        position: absolute;
        top: 12px;
        left: 457px;
    }

        .btn-x:hover {
            cursor: pointer;
        }

    .btn-update {
        width: 140px;
        height: 30px;
        border: none;
        border-radius: 22px;
        background: #373434;
        margin-top: 0px;
        color: white;
        cursor: pointer;
        padding: 0;
        margin-right: 178px;
    }
    .Status {
        width: 386px;
        border-bottom: 1px solid #2C2A2A;
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        margin-top: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        outline: none;
        font-size: 15px;
        font-weight: 600;
        color: #707070;
    }
</style>
<h4>Product</h4>
@**@
<form method="post" action="@Url.Action("CreateProduct")" enctype="multipart/form-data">
    <input id="name" type="text" class="Name" name="Name" placeholder="Name" />
    <br />
    <select class="Category" name="Category" id="Category">
        <option selected>Choose Category</option>
        @foreach (var item in listCate)
        {
            <option value="@item.id">@item.name_category</option>
        }
    </select>
    <br />
    <select class="Status" name="Status" id="Status">
        <option disabled selected hidden>Choose Status</option>
        <option value="1">Available</option>
        <option value="0">Unavailable</option>
    </select>
    <input type="hidden" id="Category_id" name="Category_id" value="/" />
    <br />
    <select class="Brand" name="Brand" id="Brand">
        <option selected>Choose Brand</option>
        @foreach (var item in listBrand)
        {
            <option value="@item.id">@item.name</option>
        }
    </select>
    <br />
    <input class="Price" id="Price" type="text" name="Price" placeholder="Price" />

    <br />
    <input class="Discount" id="Discount" type="text" name="Discount" placeholder="Discount" />
    <br />
    <input id="img" class="Img" type="file" onchange="chooseFile(this)" name="Img" /><div class="picturebox"><img id="imagechoose" width="50" src="#" /></div>
    <br />
    <textarea id="Desciption" class="Description" name="Decription" placeholder="Description"></textarea>
    <br />
    <input class="btn-add" id="Create" type="submit" value="Add Product" />
</form>

<div class="righside">
    <div class="headtable">
        <table class="headtable2" style="width:100%">
            <tr>
                <td style="max-width:55px;">Name</td>
                <td style="max-width:51px;">Type</td>
                <td style="max-width:51px;">Brand</td>
                <td style="max-width:51px;">Status</td>
                <td style="max-width:60px;">Price</td>
                <td style="max-width:58px;">Img</td>
                <td style="max-width:100px;">Description</td>
                <td style="max-width:60px;">Action</td>
            </tr>
        </table>
    </div>

    <div class="bodytable">
        @foreach (var item in listProduct)
        {
            <table class="tablerow" style="width:100%">

                <tr id="Row_@item.name_product">
                    <td style="max-width:40px;">@item.name_product</td>
                    <td style="max-width:33px;">@item.name_category</td>
                    <td style="max-width:33px;">@item.name_brand</td>
                    @if (item.status == true)
                    {
                        <td style="max-width:33px;">Available</td>
                    }
                    else
                    {
                        <td style="max-width:33px;">Unavailable</td>
                    }
                    <td style="max-width:32px;">@item.price$</td>
                    <td style="max-width:40px;"><img height="100" src="@Url.Content("~/Areas/Admin/Upload/")@item.name_image" alt="Alternate Text" /></td>
                    <td style="max-width:100px;">@item.description</td>
                    <td style="max-width:40px;"><button type="button" class="btn-Del" data-idproduct="@item.id" data-name="@item.name_product" onclick="deleteProduct(this)"><img width="20" src="~/Areas/Admin/Upload/Icon/icondelete.ico" alt="Alternate Text" /></button><button class="btn-Edit" onclick="showEdit(this);" data-nameproduct="@item.name_product" data-idproduct="@item.id"><img width="20" src="~/Areas/Admin/Upload/Icon/iconedit.ico" alt="Alternate Text" /></button></td>
                </tr>
            </table>
        }


    </div>
</div>
@section script_admin{
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
<script>
        function showEdit(obj) {
            var id = $(obj).attr('data-idproduct');
            var url = "@Url.Action("EditProduct", new { id = "id"})";
            url = url.replace("id", id);
            window.location.href = url;
        }
        function ExitEdit() {
            var ExitEdits = document.getElementById("formedit");
            ExitEdits.style.display = "none";
        }
        function deleteProduct (obj){
            var id = $(obj).attr('data-idproduct');
            var name = $(obj).attr('data-name');
            if (confirm("Are you sure you want to delete this product?")) {
                $.ajax({
                method: "post",
                url: "@Url.Action("DeleteProduct")",
                data: { id: id }
            }).done(function () {
                $('#Row_' + name).remove();
            });
            }
            else {
                return false;
            }

        }
        function chooseFile(obj) {
            var file = $(obj).val();
            if (file != "") {
                var tmppath = URL.createObjectURL(event.target.files[0]);
                $("#imagechoose").fadeIn("fast").attr('src', tmppath);
            } else {
                var tmppath = "";
                $("#imagechoose").fadeIn("fast").attr('src', tmppath);
            }
        }

</script>
}


