
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/SmallUserPage.cshtml";
    List<ChocoGear.Models.ModelView.ProductView> list = new List<ChocoGear.Models.ModelView.ProductView>();
    ChocoGear.Models.ModelView.ProductView pv = new ChocoGear.Models.ModelView.ProductView();
    pv = ViewBag.listproduct;
    list = ViewBag.listproductall;
}

<style>
    body {
        background: white;
    }

    .head-infor-product {
        padding: 20px;
        margin: 0;
        height: 500px;
        width: 100%;
    }

    .cover-img {
        width: 100%;
        height: 100%;
        background: white;
    }

    .about-product {
        box-sizing: border-box;
        height: 670px;
        border: 1px solid #f58d8d;
        width: 70%;
        background: white;
        margin-right: auto;
        margin-left: auto;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .leftside {
        box-sizing: border-box;
        float: left;
        width: 40%;
        height: 100%;
        background: white;
        overflow: hidden;
        border-bottom-left-radius: 10px;
    }

    .rightside {
        box-sizing: border-box;
        float: left;
        width: 60%;
        height: 100%;
        background: white;
        padding: 10px 10px 10px 50px;
        border-top-right-radius: 10px;
    }

        .rightside h2 {
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
            color: #707070;
        }

        .rightside hr {
            margin-left: auto;
            margin-right: auto;
            height: 3px;
            background: #707070;
        }

    .leftside img {
        height: 100%;
    }

    .inforproduct {
        height: 800px;
        width: 100%;
        padding: 20px;
        background: #FFDFDF;
    }

    .rightside p {
        font-family: 'Source Sans Pro', sans-serif;
        color: #707070;
    }


    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
    }

    h1 {
        color: #f58d8d;
    }

    .inforproduct h1, p {
        text-align: center;
        font-weight: 600;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .inforproduct p {
        font-size: 20px;
    }

    .inforproduct a {
        cursor: pointer;
        color: purple;
    }

    .form-user {
        width: 100%;
        height: 100%;
    }

        .form-user .formtext {
            margin-left: auto;
            margin-right: auto;
            width: 500px;
        }

    .formtext {
        width: 100%;
    }

    .inforproduct .formtext input {
        height: 70px;
        width: 500px;
        border: none;
        background: white;
        outline: none;
        text-align: center;
        color: #707070;
        font-size: 30px;
    }

    .form-user p {
        text-align: center;
        color: #f58d8d;
        margin-top: 10px;
    }

    .btn-submit {
        width: 50%;
        margin-top: 20px;
    }

    .form-user .btn-submit {
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }

    .inforproduct .btn-submit input {
        height: 70px;
        width: 500px;
        border: none;
        background: none;
        outline: none;
        border: 2px solid #f58d8d;
        text-align: center;
        color: #f58d8d;
        font-size: 30px;
    }

    .cover-img {
        background: url(/Upload/Img/keyboard2.jpg);
        background-attachment: fixed;
        background-size: cover;
    }

    .cover-img {
        font-size: 120px;
        text-align: center;
        padding-top: 150px;
        color: transparent;
        -webkit-text-stroke: 3px white;
        font-family: 'Source Sans Pro', sans-serif;
    }

        .cover-img img {
            width: 100%;
        }

    .infor .infor1 {
        display: inline-block;
        font-size: 20px;
        color: black;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .infor2 {
        display: inline-block;
    }

    .btn-buy {
        height: 50px;
        width: 200px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        background: #f58d8d;
        color: white;
        cursor:pointer;
    }
    .btn-buy:active {
        transform:scale(0.95);
    }

    .about-product-cover {
        padding: 0;
        width: 100%;
        background: white;
    }

    .Product-Des {
        width: 70%;
        background: white;
        height: 700px;
        padding: 20px 20px 20px 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .Des_cover {
        width: 100%;
        background: white;
    }

    .Des {
        width: 100%;
        background: white;
        height: 100%;
        padding: 20px;
        overflow: scroll;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 2px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #EBABAB;
        border-radius: 20px;
        height: 100px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(to right, #1093ff, #83d1e9);
        }

    .headDetail {
        font-family: 'Source Sans Pro', sans-serif;
        margin-left: 36%;
        font-size: 50px;
    }
</style>
@foreach (var item in list)
{
    if (item.id==pv.id)
    {
        <div class="head-infor-product">
            <div class="cover-img">ChocoGear</div>
        </div>
        <div class="about-product-cover">
            <div class="about-product">
                <div class="leftside">
                    <img src="~/Upload/Img/@item.name_image" alt="Alternate Text" />
                </div>
                <div class="rightside">
            
                    <div class="infor">
                        <p class="infor1"></p><p class="infor2" style="font-size:25px;margin-bottom:50px;">@pv.name_product</p>
                    </div>
                    <div class="infor">
                        <p class="infor1">Brand : </p><p class="infor2">@pv.name_brand</p>
                    </div>
                    <div class="infor">
                        <p class="infor1">Type : </p><p class="infor2">@pv.name_category</p>
                    </div>
                    <div class="infor">
                        @if (pv.status == true)
                        {
                            <p class="infor1">Status : </p><p class="infor2">Stocking</p>
                        }
                        else
                        {
                            <p class="infor1">Status : </p><p class="infor2">Out of stock</p>
                        }

                    </div>
                    <div class="infor">
                        <p class="infor1">Price : </p><p class="infor2">@pv.price</p>
                    </div>
                    <div class="infor">
                        <p class="infor1">Discount : </p><p class="infor2">@pv.discount %</p>
                    </div>
                    <button class="btn-buy">Buy</button>
                </div>
            </div>
        </div>
        <div class="headDetail"><span>Detail Information</span></div>
        
        <div class="Des_cover">
            <div class="Product-Des">
                <div class="Des">
                    <p>@Html.Raw(item.description)</p>
                </div>
            </div>
        </div>
    }
}
<div class="inforproduct">
    <h1>SUBCRIBE</h1>
    <p><a href="@Url.Action("LoginAndRegister")">SIGN UP</a> for <strong>FREE</strong> account </p>
    <form action="/" class="form-user" method="post">
        <p>Full Name</p>
        <br />
        <div class="formtext">
            <input type="text" name="name" value="" autocomplete="off" />
        </div>
        <br />
        <p>Address</p>
        <br />
        <div class="formtext">
            <input type="text" name="address" value="" autocomplete="off" />
        </div>
        <br />
        <p>Phone</p>
        <br />
        <div class="formtext">
            <input type="text" name="name" maxlength="12" value="" autocomplete="off" />
        </div>
        <div class="btn-submit">
            <input type="submit" class="btn" name="name" value="SUBMIT" />
        </div>
    </form>
</div>

