
@{ ViewBag.Title = "Product";
    Layout = "~/Views/Shared/UserPage.cshtml";
    List<ChocoGear.Models.ModelView.ProductView> pv = new List<ChocoGear.Models.ModelView.ProductView>();
    List<ChocoGear.Models.ModelView.CategoryView> cv = new List<ChocoGear.Models.ModelView.CategoryView>();
    @*List<ChocoGear.Models.ModelView.CartView> cart = new List<ChocoGear.Models.ModelView.CartView>();*@
    pv = ViewBag.listproduct;
    cv = ViewBag.listcate;

}
<style>
    .small-container {
        font-family: 'Source Sans Pro', sans-serif;
    }
    .btn-buy {
        padding: 10px;
        background: #ff9898;
        border-radius: 5px;
        color:white;
    }
    .btn-seemore {
        padding: 10px;
        background: #808080;
        border-radius: 5px;
        color: white;
    }
    .col-4 p {
        padding:6px 0 6px 0;
        margin-left:10px;
    }
    .productTag a, .productTag p, .productTag h4, .productTag .rating {
        margin-left:10px;
    }
    .productTag p {
        color:red;
    }
    .small-container .col-4 {
        padding:10px;
    }
    .productTag {
        width: 100%;
        height:400px;
        border: 1px solid #EBABAB;
        padding: 0;
        background: white;
        margin-bottom: 0px;
        margin-top: 10px;
        overflow: hidden;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    }
    .productTag img {
        border:none;
    }
    .Menubar-fixed {
        width: 10%;
        height: 30%;
        background: white;
        position: absolute;
        position: fixed;
        top: 310px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        padding:40px 0 20px 0;
    }
    .Menubar-fixed ul li {
        margin-left:30px;
        font-family: 'Source Sans Pro', sans-serif;
        list-style-type:none;
        margin-bottom:20px;
    }
    .srcbar input {
        height: 30px;
        width: 50%;
        margin-left: 30px;
        margin-bottom: 10px;
        border: 1px solid #ff9898;
        outline: none;
        padding-left: 10px;
    }
    .cate-find {
        margin-left: 30px;
    }
    .cate-find select {
        height:30px;
        border:none;
        background:none;
        outline:none;
    }
    .Menubar-fixed button {
        margin-bottom: 10px;
        height: 30px;
        width: 50px;
        outline: none;
        background: #ff9898;
        border:none;
    }
    .Menubar-fixed button:hover {
        transform:scale(0.95);
        cursor:pointer;
    }
    .srcbar input, .srcbar button {
        display:inline-block;
    }
    .srcbar button {
        padding:0;
        color:white;
    }


</style>
<div class="Menubar-fixed">
    <div class="cate-find">
        <select>
            <option disabled selected hidden value="value">Select</option>
            <option value="value">Price</option>
            <option value="value">Name</option>
            <option value="value">Category</option>
            <option value="value">Brand</option>
        </select>
    </div>

    <div class="srcbar">
        <input type="text" name="name" value="" placeholder="Search" />
        <button>Find</button>
    </div>
    
    <ul>
        <li><input type="checkbox" name="name" value="" /><span>  Increased price</span></li>
        <li><input type="checkbox" name="name" value="" /><span>  Decreased price</span></li>
        <li><input type="checkbox" name="name" value="" /><span>  A to Z</span></li>
        <li><input type="checkbox" name="name" value="" /><span>  Z to A</span></li>

    </ul>
</div>
<div class="small-container">
    @foreach (var items in cv)
    {
        <h1 class="titleofbook">@items.name_category</h1>
        <div class="row">

            @foreach (var item in pv)
            {
                if (item.name_category == items.name_category)
                {
                    <div class="col-4">
                        <div class="productTag">
                            <img src="~/Areas/Admin/Upload/@item.name_image" style="width: 100%; height: 250px;" alt="" />
                            <h4>@item.name_product</h4>
                            <div class="rating" style="margin-bottom: 5px;">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div><p>Price: @item.price$</p></div>
                            <br />
                            <a href="@Url.Action("AddToCart",new { id=item.id})" class="btn-buy">Buy</a>
                            <a href="@Url.Action("ProductDetail",new { id=item.id})" class="btn-seemore">See more</a>
                        </div>
                    </div>
                }
            }
        </div>
        <h3 class="" style="text-align: center; margin-bottom: 25px;"><a href="#">More...</a></h3>

    }
</div>
