<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/CartResponsivez.css" rel="stylesheet" />
</head>

<body>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .container {
            max-width: 1300px;
            margin: auto;
            padding-left: 25px;
            padding-right: 25px;
        }

        .header {
            background: #FFDFDF;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
        }

        .navbar {
            display: flex;
            align-items: center;
            padding: 20px;
        }

        nav {
            flex: 1;
            text-align: right;
        }

        nav ul {
            display: inline-block;
            list-style-type: none;
            font-family: 'Source Sans Pro', sans-serif;
        }

        nav ul li {
            display: inline-block;
            margin-right: 20px;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
        }

        nav ul li::after {
            content: '';
            display: block;
            background: #c53c7c;
            width: 0%;
            height: 2px;
            margin: auto;
            border-radius: 1px;
            transition: 0.5s;
        }

        nav ul li:hover::after {
            width: 100%;
        }

        a {
            text-decoration: none;
            color: #555;
        }

        p {
            color: #555;
        }

        .logo2 {
            border-radius: 50%;
            width: 90px;
            height: 90px;
        }

        .cart {
            transition: 0.5s;
        }

        .cart:hover {
            cursor: pointer;
            border: 2px solid #c53c7c;
            border-radius: 5px;
            transform: scale(0.9);
        }

        .navbar span {
            width: 25px;
            height: 25px;
            background: #f34444;
            border-radius: 50%;
            display: none;
        }

        .navbar span p {
            color: white;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 9px;
            padding-top: 7px;
            margin-left: 4px;
        }

        .DropMenubar {
            height: 100px;
            width: 150px;
            background: white;
            position: absolute;
            left: 1320px;
            top: 146px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
            transition: 0.5s;
            opacity:0;
            border-radius:5px;
            padding:5px;
        }


        .DropMenubar a:hover {
            color: pink;
            display:block;
            opacity:1;
            
        }
        .login-f:hover .DropMenubar{
            left:1370px;
            top:138px;
            opacity:1;
        }

    </style>
    
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="~/Upload/Logo/LOGOCHOSCOR.png" class="logo2" alt="Alternate Text" />
                </div>
                <nav>
                    <ul>
                        <li><a href="@Url.Action("Index")">Home</a></li>
                        <li><a href="@Url.Action("Product")">Product</a></li>
                        <li><a href="@Url.Action("AboutUs")">About Us</a></li>
                        <li><a href="@Url.Action("FeedBack")">Feed Back</a></li>
                        <li class="login-f">
                            <a href="LoginAndRegister">Login</a>
                            <div class="DropMenubar">
                                <div><a href="@Url.Action("CustomerInfor")">Profile</a></div>
                                <br />
                                <div><a href="@Url.Action("ChangePassword")">Change Password</a></div>
                                <br />
                                <div><a href="@Url.Action("Index")">Log Out</a></div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <img src="~/Upload/Icon/cart.png" width="55" height="45" alt="" class="cart" /><span><p>New</p></span>
                <img src="#" width="25" class="menu-icon" onclick="menutoggle()" alt="" />
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <script>
        @*function loginhover() {
            var hoverlog = document.getElementById("DropMenubar");
            hoverlog.style.left = '1370px';
            hoverlog.style.top = '76px';
            hoverlog.style.opacity = 1;
        }
        function logmouseout() {
            var hoverlog = document.getElementById("DropMenubar");
            hoverlog.style.left = '1320px';
            hoverlog.style.top = '146px';
            hoverlog.style.opacity = 0;
        }*@
    </script>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("script_admin", required: false)
</html>
