<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Mainstylezz.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <style>

        .body {
            background: white;
            margin: 0;
            padding: 0;
        }
        .logo2 {
            border-radius:50%;
        }
        .navbar span {
            width: 25px;
            height: 25px;
            background: #f34444;
            border-radius: 50%;
            display:none;
        }
        .navbar span p {
            color: white;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 9px;
            padding-top:7px;
            margin-left:4px;
            
        }
        .DropMenubar {
            height: 100px;
            width: 150px;
            background: white;
            position: absolute;
            left: 1320px;
            top: 146px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
            transition: 0.5s;
            opacity: 0;
            border-radius: 5px;
            padding: 5px;
        }


        .DropMenubar a:hover {
            color: pink;
            display: block;
            opacity: 1;
        }

        .login-f:hover .DropMenubar {
            left: 1370px;
            top: 138px;
            opacity: 1;
        }
    </style>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo" onclick="playsound();">
                    <img class="logo2" src="~/Upload/Logo/LOGOCHOSCOR.png" width="90" height="90" />
                    <audio id="angang" preload="auto">
                        <source src="~/Upload/Sound/angang.mp3">
                    </audio>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="@Url.Action("Index")">Home</a></li>
                        @*@if (Session["Login"] != null)
                            {
                                <li><a href="@Url.Action("Logout")">Logout</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Login")">Login</a></li>
                            }*@
                        <li><a href="@Url.Action("Product")">Product</a></li>
                        <li><a href="@Url.Action("AboutUs")">About Us</a></li>
                        <li><a href="@Url.Action("FeedBack")">FeedBack</a></li>
                        <li class="login-f">
                            <a href="#">Login</a>
                            <div class="DropMenubar">
                                <div><a href="@Url.Action("CustomerInfor")">Profile</a></div>
                                <br />
                                <div><a href="@Url.Action("ChangePassword")">Change Password</a></div>
                                <br />
                                <div><a href="@Url.Action("Index")">Log Out</a></div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <img src="~/Upload/Icon/cart.png" width="55" height="45" alt="" class="cart" /><span><p>New</p></span>
                <img src="~/Upload/Icon/menu.png" width="25" class="menu-icon" onclick="menutoggle()" alt="" />
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Super Premium <br /> Gaming <br /> We Make IT Happen!</h1>
                    <p>
                        Digitally Yours. <br /> The Future of Memory. It’s premium.
                    </p>
                    <a href="" class="btn">SEE MORE &#10141;</a>
                </div>
                <div class="col-2">
                    <img src="~/Upload/Img/JonsboMOD3Pink.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        @RenderBody()
    </div>
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="~/Upload/Img/RX2070.png" class="offer-img"/>
                </div>
                <div class="col-2">
                    <p>We’re not just expensive, we’re very expensive.</p>
                    <h1>RX2070</h1>
                    <small>
                        Chiến game bao ngon ! Chiến max setting những game mới ra 2021.
                    </small>
                    <a href="" class="btn">SEE MORE &#10141;</a>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Owner App</h3>
                    <p>Download for Android</p>
                    <br />
                    <img src="~/Upload/Icon/android.png" height="60" class="android" alt="" />
                </div>
                <div class="footer-col-2">
                    <img src="~/Upload/Logo/LOGOCHOSCOR2.png" width="160" alt="" />
                    <p>Our aim is to give you a more enjoyable life </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Technology World</li>
                        <li>Fanpage Technology</li>
                        <li>Blog Post</li>
                        <li>Facebook</li>
                    </ul>
                </div>
            </div>
            <hr />
            <br />
            <p class="copyright">&copy; 2023 - QuhuIceCream.</p>
        </div>
    </div>
    <script>
        function playsound() {
            var audio = document.getElementsByTagName("audio")[0];
            audio.play();
        }
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            } else {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("script_admin", required: false)
</html>
